* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url('/public/images/blue_bckgrnd.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  font-size: 2vw;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4vmin; 
}

.logo {
  max-width: 100%;
  height: auto;
  width: auto;
}

/* App.jsx container */
.container {
  max-width: 100%;
  margin: 0;
  padding: 1rem 0 1rem 0;
  box-sizing: border-box;
}

.profile-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* container for pet names on profile page */
.pet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
}

.pet-name {
  text-decoration: none;
  padding: 2vmin;
  color: black;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color:rgba(230, 131, 135, 0.5);
  position: relative;
}

.nav-links, .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.2rem;
  color:black;
  padding: 0.25rem;
}

.nav-link:hover {
  color: rgb(93, 93, 116);
}

/* styles for the hamburger menu */
.menu-toggle {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
}

.bar {
  width: 1.5em;
  height: 0.2em;
  background-color: white;
  margin: 0.4em 0;
  transition: 0.4s;
}

.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-0.5em, 0.6em);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-0.5em, -0.6em);
}


@media (max-width: 768px) {
  .menu-toggle {
      display: block;
      padding: 1em;
      z-index: 4;
  }

  .nav-links {
      flex-direction: column;
      position: absolute;
      top: 1.5em;
      left: 0;
      right: 0;
      background-color: white;
      display: none;
      z-index: 5;
  }

  .nav-links.open {
      display: flex;
  }

  .nav-link {
      padding: 1em;
      text-align: center;
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
}


/* pencil button */
.editBtn {
  width: 3em; 
  height: 3em; 
  border-radius: 1em; 
  border: 0.3em solid rgb(255, 201, 201); 
  background-color: rgb(93, 93, 116);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  margin: 1vmin;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background: linear-gradient(
  0deg,
  rgba(230, 131, 135, 1) 0%,
  rgba(255, 213, 0, 1) 47%,
  rgba(255, 213, 0, 1) 47%,
  rgba(243, 131, 135, 0.5) 100%
);
}

.editBtn::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(0.1em); 
}

.editBtn:hover::before {
  transform: scale(1);
}

.editBtn:hover {
  box-shadow: 0px 0.5em 1em rgba(0, 0, 0, 0.336); 
  background-color: rgb(255, 0, 0);
}

.editBtn svg {
  height: 1.5em; 
  fill: black;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}

.editBtn:hover svg {
  transform: rotate(-15deg) translateX(0.5em); 
}

.editBtn::after {
  content: "";
  width: 1.5em; 
  height: 0.1em; 
  position: absolute;
  bottom: 0.95em; 
  left: -0.25em; 
  background-color: white;
  border-radius: 0.2em; 
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}

.editBtn:hover::after {
  transform: scaleX(1);
  left: 0; 
  transform-origin: right;
}

/* trash can button */
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3em; 
  height: 3em; 
  border-radius: 1em; 
  border: 0.3em solid rgb(255, 201, 201); 
  cursor: pointer;
  /* border: 0.3em solid rgba(0, 0, 0, 0.336); */
  transition-duration: 0.3s;
  margin: 1vmin;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background: linear-gradient(
  0deg,
  rgba(230, 131, 135, 1) 0%,
  rgba(255, 213, 0, 1) 47%,
  rgba(255, 213, 0, 1) 47%,
  rgba(243, 131, 135, 0.5) 100%
);
}

.bin-bottom {
  width: 0.75em; 
}

.bin-top {
  width: 0.85em;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

/* add pet button */
.add-pet-button {
  font-size: 14px;
  font-family: inherit;
  font-weight: 700;
  padding: 3px;
  border-radius: 16px;
  cursor: pointer;
  border: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background: linear-gradient(
    0deg,
    rgba(230, 131, 135, 1) 0%,
    rgba(255, 213, 0, 1) 47%,
    rgba(255, 213, 0, 1) 47%,
    rgba(243, 131, 135, 0.5) 100%
  );
}

.add-pet-button .button-content {
  display: flex;
  align-items: center;
  background: white;
  padding: 0.5em 1em;
  padding-left: 1.2em;
  border-radius: 16px;
}

.add-pet-button svg {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  color: #ff0000;
  transition: transform 0.3s;
}

.add-pet-button:hover svg {
  transform: scale(1.4);
}

/* style AddPetForm */
.add-pet-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 500px;
  margin: auto;
  padding-top: 4vmin;
}

.add-pet-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-pet-form input,
.add-pet-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-pet-form svg {
  margin-right: 6px;
}

/* Pet Detail Page */
/* Updated styling for tables */
.top {
  max-width: 90%;
  margin: auto;
  padding: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.all-tables {
  width: 90%;
  margin:auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.all-tables th, .all-tables td {
  padding: 0.6em;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
}

.all-tables th {
  background-color: rgba(230, 131, 135, 1);
  color: white;
}

.all-tables tbody tr:hover {
  background-color: #f5f5f5;
}

