* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url('/public/images/blue_bckgrnd.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  font-size: 1rem;
}

/* App.jsx container */
.container {
  max-width: 100%;
  margin: 0;
  padding: 1rem 0 1rem 0;
  box-sizing: border-box;
}

footer {
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
}

/* fancy name on pet detail page */
.petname,
.welcome {
  font-family: "Shrikhand", serif;
  text-shadow: 2px 2px 4px rgb(255, 110, 110, 0.5);
}

.summary {
  font-size: 0.8rem;
  text-shadow: 2px 2px 4px rgb(255, 110, 110, 0.5);
  text-align: center;
}

.paw-img {
  width: 10%;
  height: 10%;
  opacity: 0.6;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4vmin;
}

.logo {
  max-width: 100%;
  height: auto;
  width: auto;
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

}

/* landing profile page after user signin */
.profile-container {
  max-width: 100%;
  margin: 2em auto;
  padding: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-align: center;
}

.pet-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin;
  margin-bottom: 1.5vmin;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
}

.pet-name {
  text-decoration: none;
  padding: 1vmin;
  color: #333;
  transition: color 0.3s ease;

  &:hover {
    color: #ff6b6b;
  }
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: rgba(230, 131, 135, 0.5);
  position: relative;
}

.nav-links,
.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.2rem;
  color: black;
  padding: 0.25rem;
}

.nav-link:hover {
  color: rgb(93, 93, 116);
}

/* styles for the hamburger menu */
.menu-toggle {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
}

.bar {
  width: 1.5em;
  height: 0.2em;
  background-color: white;
  margin: 0.4em 0;
  transition: 0.4s;
}

.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-0.5em, 0.6em);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-0.5em, -0.6em);
}


@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    padding: 1em;
    z-index: 4;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    background-color: white;
    display: none;
    z-index: 5;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-link {
    padding: 1em;
    text-align: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

/* pencil button */
.editBtn {
  width: 3em;
  height: 3em;
  border-radius: 1em;
  border: 0.3em solid rgb(255, 201, 201);
  background-color: rgb(93, 93, 116);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  margin: 1vmin;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background: linear-gradient(0deg,
      rgba(230, 131, 135, 1) 0%,
      rgba(255, 213, 0, 1) 47%,
      rgba(255, 213, 0, 1) 47%,
      rgba(243, 131, 135, 0.5) 100%);
}

.editBtn::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(0.1em);
}

.editBtn:hover::before {
  transform: scale(1);
}

.editBtn:hover {
  box-shadow: 0px 0.5em 1em rgba(0, 0, 0, 0.336);
  background-color: rgb(255, 0, 0);
}

.editBtn svg {
  height: 1.5em;
  fill: black;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}

.editBtn:hover svg {
  transform: rotate(-15deg) translateX(0.5em);
}

.editBtn::after {
  content: "";
  width: 1.5em;
  height: 0.1em;
  position: absolute;
  bottom: 0.95em;
  left: -0.25em;
  background-color: white;
  border-radius: 0.2em;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}

.editBtn:hover::after {
  transform: scaleX(1);
  left: 0;
  transform-origin: right;
}

/* trash can button */
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  border-radius: 1em;
  border: 0.3em solid rgb(255, 201, 201);
  cursor: pointer;
  /* border: 0.3em solid rgba(0, 0, 0, 0.336); */
  transition-duration: 0.3s;
  margin: 1vmin;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background: linear-gradient(0deg,
      rgba(230, 131, 135, 1) 0%,
      rgba(255, 213, 0, 1) 47%,
      rgba(255, 213, 0, 1) 47%,
      rgba(243, 131, 135, 0.5) 100%);
}

.bin-bottom {
  width: 0.75em;
}

.bin-top {
  width: 0.85em;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:hover {
  background-color: rgb(255, 0, 0);
}

.bin-button:active {
  transform: scale(0.9);
}

/* add pet button and submit buttons have same className */
.add-pet-button {
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  padding: 3px;
  border-radius: 16px;
  cursor: pointer;
  border: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background: linear-gradient(0deg,
      rgba(230, 131, 135, 1) 0%,
      rgba(255, 213, 0, 1) 47%,
      rgba(255, 213, 0, 1) 47%,
      rgba(243, 131, 135, 0.5) 100%);
}

.add-pet-button .button-content {
  display: flex;
  align-items: center;
  background: white;
  padding: 0.5em 1em;
  padding-left: 1.2em;
  border-radius: 16px;
}

.add-pet-button svg {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  color: #ff0000;
  transition: transform 0.3s;
}

.add-pet-button:hover svg {
  transform: scale(1.4);
}

/* big buttons on pet detail page */
.button {
  margin: 1vmin auto 2vmin auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px 20px 22px;
  box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #e8e8e8;
  border-color: #ffe2e2;
  border-style: solid;
  border-width: 9px;
  border-radius: 35px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(71, 62, 62);
  font-family: "Fira Sans", sans-serif;
  transition: transform 400ms cubic-bezier(.68, -0.55, .27, 2.5),
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
  word-spacing: -2px;
  background: linear-gradient(0deg,
      rgba(230, 131, 135, 1) 0%,
      rgba(255, 213, 0, 1) 47%,
      rgba(255, 213, 0, 1) 47%,
      rgba(243, 131, 135, 0.5) 100%);
}


@keyframes movingBorders {
  0% {
    border-color: #fce4e4;
  }

  50% {
    border-color: #ffd8d8;
  }

  90% {
    border-color: #fce4e4;
  }
}

.button:hover {
  background-color: #eee;
  transform: scale(105%);
  animation: movingBorders 3s infinite;
}

.button svg {
  margin-right: 11px;
  fill: rgb(255, 110, 110);
  transition: opacity 100ms ease-in-out;
}

.filled {
  position: absolute;
  opacity: 0;
  top: 20px;
  left: 22px;
}

@keyframes beatingHeart {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.15);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.15);
  }

  60% {
    transform: scale(1);
  }
}

.button:hover .empty {
  opacity: 0;
}

.button:hover .filled {
  opacity: 1;
  animation: beatingHeart 1.2s infinite;
}


/* style forms */
.add-pet-form,
.diet-wt-form,
.edit-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 500px;
  margin: auto;
  padding-top: 4vmin;
}

.add-pet-form label,
.diet-wt-form label,
.edit-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.add-pet-form input,
.add-pet-form select,
.diet-wt-form input,
.diet-wt-form select,
.edit-form input,
.edit-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Pet Detail Page */
.top,
h3,
h2,
h1,
.health-tables,
.diet-table {
  max-width: 90%;
  margin: auto;
  padding: 3vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-pet-button {
  margin: 2em auto;
  display: flex;
}

/* styling for tables */
.diet-table,
.health-tables {
  width: 90%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.diet-table th,
.diet-table td,
.health-tables th,
.health-tables td {
  padding: 0.6em;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
}

.diet-table th,
.health-tables th {
  background-color: rgba(230, 131, 135, .8);
  color: white;
}

.diet-table tbody tr:hover,
.health-tables tbody tr:hover {
  background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {

  .diet-table table,
  .health-tables table {
    margin-bottom: 20px;
    font-size: 10px;
    padding: 6px;
  }

  .diet-table th,
  .diet-table td,
  .health-tables th,
  .health-tables td {
    padding: 8px;
  }

  .diet-table .button,
  .health-tables .button {
    font-size: 10px;
    padding: 0px 9px 0px 9px;
  }
}

.signin-container {
  max-width: 30em;
  margin: 3em auto;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.5em;
}

label {
  font-size: 1em;
  margin-bottom: 0.8em;
  display: block;
}

input {
  width: 100%;
  padding: 1em;
  font-size: 0.875em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-bottom: 1.5em;
}

.signin-button {
  background-color: rgba(243, 131, 135, 0.5);
  color: white;
  padding: .3em .5em;
  font-size: 1.2em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}